
<div class="form">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div>
      <label for="firstnameInput">Prénom</label>
      <input type="text" id="firstnameInput" ngModel #firstname="ngModel" name="firstname" placeholder="Marine" required minlength="3" maxlength="15">
    </div>

    <div *ngIf="firstname.touched && firstname.invalid && firstname.errors " class="error">
      <ng-container  *ngIf="firstname.errors['required']">
        Le prénom ne peut pas être vide
      </ng-container>
      <ng-container *ngIf="firstname.errors?.['minlength']">
        Le prénom doit contenir plus de 2 lettres
      </ng-container>
      <ng-container *ngIf="firstname.errors?.['maxlength']">
        Le prénom doit contenir moins de 15 lettres
      </ng-container>
    </div>

    <div>
      <label for="lastnameInput">Nom</label>
      <input type="text" id="lastnameInput" ngModel #lastname="ngModel" name="lastname" placeholder="Paillette" required minlength="3" maxlength="15">
    </div>

    <div *ngIf="lastname.touched && lastname.invalid && lastname.errors " class="error">
      <ng-container *ngIf="lastname.errors['required']">
        Le nom ne peut pas être vide
      </ng-container>
      <ng-container *ngIf="lastname.errors?.['minlength']">
        Le nom doit contenir plus de 2 lettres
      </ng-container>
      <ng-container *ngIf="lastname.errors?.['maxlength']">
        Le nom doit contenir moins de 15 lettres
      </ng-container>
    </div>

    <div>
      <label for="emailInput">E-mail</label>
      <input type="email" id="emailInput" ngModel #email="ngModel" name="email" placeholder="bidule@gmail.com" required email class="form-control">
    </div>

    <div *ngIf="email.touched && email.invalid && email.errors" class="error">
        <ng-container *ngIf="email.errors['required']">
            L' e-mail ne peut pas être vide
        </ng-container>
        <ng-container *ngIf="email.errors['email']">
            L' e-mail est invalide
        </ng-container>
    </div>

    <div>
      <label for="passwordInput">Password</label>
      <input type="password" id="passwordInput" ngModel name="password" required #password="ngModel">
    </div>

    <div *ngIf="password.touched && password.invalid" class="error">
      <span>Le mot de passe ne peut pas être vide</span>
    </div>

    <div>
      <button type="submit" ngModel #submit="ngModel"> Créer un compte !</button>
    </div>



  </form>
</div>
